In [1]:
# deletes engine - run when you have to restart
!rm world_dev.sqlite

In [2]:
# sqlalchemy dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import func

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Text, Numeric

import os

In [3]:
# pandas dependencies
import pandas as pd
import pandas_profiling

# display multiple print results on one line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# flask 
from flask import Flask, jsonify

In [6]:
# read csv
df = pd.read_csv('data3.csv')
df.fillna(0)
df.info()
df.head()

,Unnamed: 0,IsoCode,CountryName,Region,IncomeGroup,GiniYear,GiniCoefficient,HomicideYear,HomicidePer100k,HDI,GDP_Mean,LifeExpectancy,services2015,industry2015,agriculture2015,GDP_PPP_Year,GDP_PPP,Unemployment2015,Unemployment2016,Unemployment2017
0,0,AFG,Afghanistan,South Asia,Low income,0.0,0.0,2012.0,6.60,0.48,5.61,63.30,55.65,22.95,21.40,2016.0,1944.12,8.6,8.6,8.5
1,1,ALB,Albania,Europe & Central Asia,Upper middle income,2012.0,29.0,2015.0,2.30,0.76,2.29,78.20,52.96,24.18,22.86,2016.0,11540.03,17.1,15.2,15.0
2,2,DZA,Algeria,Middle East & North Africa,Upper middle income,2011.0,27.6,2015.0,1.40,0.75,3.36,75.86,48.59,38.81,12.61,2016.0,15013.30,11.2,11.5,11.7
3,3,AGO,Angola,Sub-Saharan Africa,Lower middle income,2008.0,42.7,2015.0,9.60,0.53,3.78,61.19,0.00,0.00,0.00,2016.0,6454.14,6.2,6.1,6.2
4,4,ATA,Antarctica,0,0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0
5,5,ARG,Argentina,Latin America & Caribbean,Upper middle income,2014.0,42.7,2015.0,6.50,0.83,2.20,76.29,65.89,28.06,6.04,2016.0,19939.93,7.2,8.8,8.1
6,6,ARM,Armenia,Europe & Central Asia,Lower middle income,2015.0,32.4,2015.0,2.50,0.74,3.49,74.21,51.97,28.76,19.27,2016.0,8832.76,18.3,17.6,17.4
7,7,AUS,Australia,East Asia & Pacific,High income,2010.0,34.7,2015.0,1.00,0.94,2.63,82.45,72.04,25.40,2.56,2016.0,46012.33,6.1,5.7,5.7
8,8,AUT,Austria,Europe & Central Asia,High income,2014.0,30.5,2015.0,0.50,0.89,1.24,81.84,70.70,28.06,1.25,2016.0,50551.55,5.7,6.0,5.7
9,9,AZE,Azerbaijan,Europe & Central Asia,Upper middle income,2008.0,31.8,2014.0,2.50,0.76,1.85,71.85,43.92,49.30,6.78,2016.0,17256.63,5.0,5.0,5.1
10,10,BHS,Bahamas,Latin America & Caribbean,High income,0.0,0.0,2012.0,29.80,0.79,0.07,75.37,87.84,11.23,0.93,2016.0,22516.82,12.0,12.7,12.6
11,11,BGD,Bangladesh,South Asia,Lower middle income,2010.0,32.1,2015.0,2.50,0.58,6.33,72.22,56.35,28.15,15.51,2016.0,3579.76,4.2,4.1,4.0
12,12,BLR,Belarus,Europe & Central Asia,Upper middle income,2015.0,26.7,2014.0,3.60,0.80,1.62,73.62,55.05,37.70,7.25,2016.0,18066.30,0.5,0.5,0.5
13,13,BEL,Belgium,Europe & Central Asia,High income,2014.0,28.1,2015.0,1.90,0.90,1.31,81.29,77.07,22.17,0.76,2016.0,46428.67,8.5,7.8,7.4
14,14,BLZ,Belize,Latin America & Caribbean,Upper middle income,0.0,0.0,2014.0,34.40,0.71,2.34,70.31,68.27,16.81,14.91,2016.0,8461.54,10.0,10.9,11.4
15,15,BEN,Benin,Sub-Saharan Africa,Low income,2015.0,47.8,2015.0,6.00,0.49,4.22,60.58,51.44,23.24,25.32,2016.0,2167.64,1.0,1.1,1.0
16,16,BMU,Bermuda,North America,High income,0.0,0.0,2015.0,6.50,0.00,-1.83,81.01,0.00,0.00,0.00,2013.0,52436.06,0.0,0.0,0.0
17,17,BTN,Bhutan,South Asia,Lower middle income,2012.0,38.8,2014.0,2.70,0.61,6.74,69.81,39.28,43.22,17.50,2016.0,8900.76,2.4,2.4,2.4
18,18,BOL,Bolivia,Latin America & Caribbean,Lower middle income,2015.0,45.8,2012.0,6.60,0.67,5.12,68.75,54.18,32.58,13.24,2016.0,7234.20,3.1,3.3,3.5
19,19,BIH,Bosnia and Herzegovina,Europe & Central Asia,Upper middle income,2011.0,33.8,2015.0,1.50,0.75,1.52,76.64,65.10,27.33,7.57,2016.0,12172.07,26.3,26.0,25.8
20,20,BWA,Botswana,Sub-Saharan Africa,Upper middle income,2009.0,60.5,2011.0,4.30,0.70,5.31,65.75,64.44,33.12,2.44,2016.0,16956.72,16.8,17.7,18.1
21,21,BRA,Brazil,Latin America & Caribbean,Upper middle income,2015.0,51.3,2015.0,26.70,0.75,1.37,75.20,72.68,22.35,4.97,2016.0,15123.85,8.5,11.5,13.4
22,22,BRN,Brunei Darussalam,East Asia & Pacific,High income,0.0,0.0,2013.0,0.50,0.87,-0.04,77.07,37.54,61.36,1.10,2016.0,77420.61,6.9,6.5,6.4
23,23,BGR,Bulgaria,Europe & Central Asia,Upper middle income,2014.0,37.4,2015.0,1.80,0.79,1.86,74.47,67.34,27.87,4.79,2016.0,19242.62,9.1,7.6,6.0
24,24,BFA,Burkina Faso,Sub-Saharan Africa,Low income,2014.0,35.3,2012.0,6.60,0.40,5.48,59.84,45.08,21.18,33.75,2016.0,1771.02,3.3,3.1,3.0
25,25,BDI,Burundi,Sub-Saharan Africa,Low income,2013.0,39.2,2014.0,4.00,0.40,2.39,57.07,43.12,16.46,40.42,2016.0,777.75,1.5,1.5,1.6
26,26,KHM,Cambodia,East Asia & Pacific,Lower middle income,0.0,0.0,2011.0,1.80,0.56,6.98,68.47,41.55,29.82,28.63,2016.0,3736.96,0.1,0.2,0.3
27,27,CMR,Cameroon,Sub-Saharan Africa,Lower middle income,2014.0,46.5,2015.0,5.90,0.52,4.78,57.56,56.59,27.36,16.05,2016.0,3609.38,4.1,4.3,4.5
28,28,CAN,Canada,North America,High income,2013.0,34.0,2015.0,1.70,0.92,2.20,82.13,0.00,0.00,0.00,2016.0,44644.17,6.9,7.0,6.6
29,29,CAF,Central African Republic,Sub-Saharan Africa,Low income,2008.0,56.2,2015.0,13.10,0.35,-2.27,51.38,41.21,16.43,42.36,2016.0,698.71,6.2,6.4,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,147,SDN,Sudan,Sub-Saharan Africa,Lower middle income,2009.0,35.4,2015.0,6.50,0.49,2.67,64.23,58.08,2.59,39.32,2016.0,4730.46,13.0,13.1,13.3
148,148,SUR,Suriname,Latin America & Caribbean,Upper middle income,0.0,0.0,2015.0,10.70,0.73,1.31,71.29,61.73,28.08,10.19,2016.0,14966.71,7.3,8.5,8.9
149,149,SWZ,Swaziland,Sub-Saharan Africa,Lower middle income,2009.0,51.5,2013.0,8.20,0.54,2.98,56.91,51.63,38.14,10.24,2016.0,8329.56,26.2,26.0,25.7
150,150,SWE,Sweden,Europe & Central Asia,High income,2014.0,27.2,2015.0,1.10,0.91,2.85,82.55,74.16,24.48,1.36,2016.0,48904.55,7.4,7.0,7.2
151,151,CHE,Switzerland,Europe & Central Asia,High income,2013.0,32.5,2015.0,0.70,0.94,1.80,83.20,73.43,25.90,0.67,2016.0,63888.73,4.5,4.6,4.5
152,152,SYR,Syrian Arab Republic�(Syria),Middle East & North Africa,Lower middle income,0.0,0.0,2010.0,0.00,0.54,0.00,70.25,0.00,0.00,0.00,0.0,0.00,14.6,14.5,14.2
153,153,TWN,"Taiwan, Republic of China",East Asia & Pacific,High income,2014.0,33.6,2015.0,0.82,0.88,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0
154,154,TJK,Tajikistan,Europe & Central Asia,Lower middle income,2015.0,34.0,2013.0,1.40,0.63,6.91,71.01,47.05,28.00,24.95,2016.0,2979.31,10.8,10.8,10.8
155,155,TZA,"Tanzania, United Republic of",Sub-Saharan Africa,Low income,2011.0,37.8,2015.0,7.00,0.53,6.79,64.90,42.16,26.38,31.46,2016.0,2786.27,2.1,2.4,2.7
156,156,THA,Thailand,East Asia & Pacific,Upper middle income,2013.0,37.8,2015.0,3.50,0.74,3.63,75.07,54.89,36.39,8.72,2016.0,16913.37,1.0,0.9,1.0
157,157,TLS,Timor-Leste,East Asia & Pacific,Lower middle income,0.0,0.0,2010.0,3.70,0.61,5.66,68.58,63.57,18.82,17.60,2016.0,2140.36,3.3,3.8,4.1
158,158,TGO,Togo,Sub-Saharan Africa,Low income,2015.0,43.0,2015.0,9.10,0.49,4.83,59.92,40.67,17.65,40.66,2016.0,1490.54,6.2,6.2,6.2
159,159,TTO,Trinidad and Tobago,Latin America & Caribbean,High income,0.0,0.0,2015.0,30.90,0.78,0.51,70.59,59.03,40.44,0.53,2016.0,32854.72,3.4,3.9,4.4
160,160,TUN,Tunisia,Middle East & North Africa,Lower middle income,2010.0,35.8,2012.0,3.10,0.73,1.94,75.50,61.79,27.21,11.01,2016.0,11595.51,15.2,14.9,14.7
161,161,TUR,Turkey,Europe & Central Asia,Upper middle income,2014.0,41.2,2012.0,4.30,0.77,6.76,75.41,60.50,31.67,7.83,2016.0,25247.20,10.2,10.8,11.4
162,162,TKM,Turkmenistan,Europe & Central Asia,Upper middle income,0.0,0.0,2015.0,4.20,0.69,9.74,67.64,0.00,0.00,0.00,2016.0,16875.99,8.8,8.7,8.6
163,163,UGA,Uganda,Sub-Saharan Africa,Low income,2012.0,41.0,2014.0,11.80,0.49,5.34,59.51,52.14,21.77,26.09,2016.0,1819.43,1.9,2.1,2.3
164,164,UKR,Ukraine,Europe & Central Asia,Lower middle income,2015.0,25.5,2010.0,4.40,0.74,-0.59,71.19,60.16,25.65,14.19,2016.0,8269.61,9.1,9.2,9.0
165,165,ARE,United Arab Emirates,Middle East & North Africa,High income,0.0,0.0,2015.0,0.70,0.84,4.15,77.48,55.14,44.12,0.74,2016.0,72399.65,4.0,3.8,3.8
166,166,GBR,United Kingdom,Europe & Central Asia,High income,2014.0,34.1,2014.0,0.90,0.91,1.98,81.60,79.33,20.01,0.66,2016.0,42608.72,5.3,4.8,4.7
167,167,USA,United States of America,North America,High income,2013.0,41.0,2015.0,4.90,0.92,2.14,78.74,78.92,20.03,1.05,2016.0,57638.16,5.3,4.9,4.9
168,168,URY,Uruguay,Latin America & Caribbean,High income,2015.0,41.7,2015.0,8.40,0.80,3.74,77.13,64.14,28.89,6.96,2016.0,21619.61,7.5,7.8,8.3
169,169,UZB,Uzbekistan,Europe & Central Asia,Lower middle income,0.0,0.0,2015.0,3.00,0.70,8.08,71.15,47.26,34.53,18.21,2016.0,6512.68,8.8,8.8,8.7
170,170,VUT,Vanuatu,East Asia & Pacific,Lower middle income,2010.0,37.3,2015.0,2.10,0.60,1.73,71.98,0.00,0.00,0.00,2016.0,3080.57,5.3,5.4,5.4
171,171,VEN,Venezuela�(Bolivarian Republic),Latin America & Caribbean,Upper middle income,0.0,0.0,2015.0,57.10,0.77,0.82,74.39,0.00,0.00,0.00,2014.0,17604.96,6.8,7.2,7.3
172,172,VNM,Viet Nam,East Asia & Pacific,Lower middle income,2014.0,34.8,2011.0,1.50,0.68,6.03,75.89,44.16,36.95,18.89,2016.0,6295.59,2.1,2.2,2.2
173,173,ESH,Western Sahara,0,0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0
174,174,YEM,Yemen,Middle East & North Africa,Lower middle income,2014.0,36.7,2013.0,6.70,0.48,-5.12,64.73,42.14,48.05,9.81,2016.0,2507.47,16.7,16.2,16.0
175,175,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,2015.0,57.1,2010.0,5.80,0.58,5.68,61.34,59.44,35.31,5.25,2016.0,3933.07,7.7,7.6,7.4
176,176,ZWE,Zimbabwe,Sub-Saharan Africa,Low income,2011.0,43.2,2012.0,6.70,0.52,7.54,60.28,64.20,24.20,11.60,2016.0,2027.08,5.1,5.2,5.3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 20 columns):
Unnamed: 0          177 non-null int64
IsoCode             177 non-null object
CountryName         177 non-null object
Region              172 non-null object
IncomeGroup         172 non-null object
GiniYear            172 non-null float64
GiniCoefficient     172 non-null float64
HomicideYear        172 non-null float64
HomicidePer100k     172 non-null float64
HDI                 166 non-null float64
GDP_Mean            171 non-null float64
LifeExpectancy      170 non-null float64
services2015        150 non-null float64
industry2015        150 non-null float64
agriculture2015     150 non-null float64
GDP_PPP_Year        165 non-null float64
GDP_PPP             165 non-null float64
Unemployment2015    169 non-null float64
Unemployment2016    169 non-null float64
Unemployment2017    169 non-null float64
dtypes: float64(15), int64(1), object(4)
memory usage: 27.7+ KB

,Unnamed: 0,IsoCode,CountryName,Region,IncomeGroup,GiniYear,GiniCoefficient,HomicideYear,HomicidePer100k,HDI,GDP_Mean,LifeExpectancy,services2015,industry2015,agriculture2015,GDP_PPP_Year,GDP_PPP,Unemployment2015,Unemployment2016,Unemployment2017
0,0,AFG,Afghanistan,South Asia,Low income,0.0,0.0,2012.0,6.6,0.48,5.61,63.30,55.65,22.95,21.40,2016.0,1944.12,8.6,8.6,8.5
1,1,ALB,Albania,Europe & Central Asia,Upper middle income,2012.0,29.0,2015.0,2.3,0.76,2.29,78.20,52.96,24.18,22.86,2016.0,11540.03,17.1,15.2,15.0
2,2,DZA,Algeria,Middle East & North Africa,Upper middle income,2011.0,27.6,2015.0,1.4,0.75,3.36,75.86,48.59,38.81,12.61,2016.0,15013.30,11.2,11.5,11.7
3,3,AGO,Angola,Sub-Saharan Africa,Lower middle income,2008.0,42.7,2015.0,9.6,0.53,3.78,61.19,NaN,NaN,NaN,2016.0,6454.14,6.2,6.1,6.2
4,4,ATA,Antarctica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
updated_df = df.rename(columns={"Unnamed: 0": "id"
                  })
updated_df.set_index("id").head()
updated_df.shape

,IsoCode,CountryName,Region,IncomeGroup,GiniYear,GiniCoefficient,HomicideYear,HomicidePer100k,HDI,GDP_Mean,LifeExpectancy,services2015,industry2015,agriculture2015,GDP_PPP_Year,GDP_PPP,Unemployment2015,Unemployment2016,Unemployment2017
id,,,,,,,,,,,,,,,,,,,
0,AFG,Afghanistan,South Asia,Low income,0.0,0.0,2012.0,6.6,0.48,5.61,63.30,55.65,22.95,21.40,2016.0,1944.12,8.6,8.6,8.5
1,ALB,Albania,Europe & Central Asia,Upper middle income,2012.0,29.0,2015.0,2.3,0.76,2.29,78.20,52.96,24.18,22.86,2016.0,11540.03,17.1,15.2,15.0
2,DZA,Algeria,Middle East & North Africa,Upper middle income,2011.0,27.6,2015.0,1.4,0.75,3.36,75.86,48.59,38.81,12.61,2016.0,15013.30,11.2,11.5,11.7
3,AGO,Angola,Sub-Saharan Africa,Lower middle income,2008.0,42.7,2015.0,9.6,0.53,3.78,61.19,NaN,NaN,NaN,2016.0,6454.14,6.2,6.1,6.2
4,ATA,Antarctica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(177, 20)

In [8]:
# pandas profile report
# pandas_profiling.ProfileReport(updated_df)

In [9]:
# create sqlite database
engine = create_engine("sqlite:///world_dev.sqlite")
conn = engine.connect()

In [10]:
# declarative_base
# Base = declarative_base()
Base = automap_base()

In [11]:
# create world_dev metadata class
class world_dev(Base):
    __tablename__ = 'world_dev'
    
    id = Column(Integer, primary_key=True)
    IsoCode = Column(Text(64))
    CountryName = Column(Text(64))
    Region = Column(Text(64))
    IncomeGroup = Column(Text(64))
    GiniYear = Column(Float(64))
    GiniCoefficient = Column(Float(64))
    HomicideYear = Column(Float(64))
    HomicidePer100k = Column(Float(64))
    HDI = Column(Float(64))
    GDP_Mean = Column(Float(64))
    LifeExpectancy = Column(Float(64))
    services2015 = Column(Float(64))
    industry2015 = Column(Float(64))
    agriculture2015 = Column(Float(64))
    GDP_PPP_Year = Column(Float(64))
    GDP_PPP = Column(Float(64))
    Unemployment2015 = Column(Float(64))
    Unemployment2016 = Column(Float(64))
    Unemployment2017 = Column(Float(64))
    
    
    def __repr__(self):
        return f"id={self.ID}"

In [12]:
# create a "metadata" layer that abstracts our SQL Database
Base.metadata.create_all(engine)
engine.table_names()

['world_dev']

In [13]:
# create a session object to connect to DB
session = Session(bind=engine)

In [14]:
# add updated_df csv data
updated_df.to_sql('world_dev', conn, if_exists='append', index=False)

In [15]:
# read back world_dev class to see if updated_df data was appended to world_dev.sqlite
data_world_dev = pd.read_sql("SELECT * FROM world_dev", conn)
# data_world_dev.head()
# data_world_dev.tail()
data_world_dev.shape

(177, 20)

In [16]:
# store data_world_dev into new variable and set index to id
final_sql_df = data_world_dev.set_index('id')
final_sql_df.head()

,IsoCode,CountryName,Region,IncomeGroup,GiniYear,GiniCoefficient,HomicideYear,HomicidePer100k,HDI,GDP_Mean,LifeExpectancy,services2015,industry2015,agriculture2015,GDP_PPP_Year,GDP_PPP,Unemployment2015,Unemployment2016,Unemployment2017
id,,,,,,,,,,,,,,,,,,,
0,AFG,Afghanistan,South Asia,Low income,0.0,0.0,2012.0,6.6,0.48,5.61,63.30,55.65,22.95,21.40,2016.0,1944.12,8.6,8.6,8.5
1,ALB,Albania,Europe & Central Asia,Upper middle income,2012.0,29.0,2015.0,2.3,0.76,2.29,78.20,52.96,24.18,22.86,2016.0,11540.03,17.1,15.2,15.0
2,DZA,Algeria,Middle East & North Africa,Upper middle income,2011.0,27.6,2015.0,1.4,0.75,3.36,75.86,48.59,38.81,12.61,2016.0,15013.30,11.2,11.5,11.7
3,AGO,Angola,Sub-Saharan Africa,Lower middle income,2008.0,42.7,2015.0,9.6,0.53,3.78,61.19,NaN,NaN,NaN,2016.0,6454.14,6.2,6.1,6.2
4,ATA,Antarctica,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# save to csv

final_sql_df.to_csv('worldDev.csv')

# this sheet stores the avg gini inserted in place of null
# final_sql_df.to_csv('worldDev2.csv')

In [18]:
# create object for worldDev.csv
worldDevcsv = 'worldDev.csv'

# using the worldDev2csv that replaced null gini with the avg gini
# worldDevcsv = 'worldDev2.csv'

In [19]:
# function to populate table
def populate_table (engine, table, csvfile):
    """Populates a table from a Pandas DataFrame."""
    
    # connect to the database
    conn = engine.connect()
    
    # Load the CSV file into a pandas dataframe
    insert_df = pd.read_csv(csvfile)
    
    # Orient='records' creates a list of data to write
    # http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
    data = insert_df.to_dict(orient='records')
    print(data[:1])
    
    # Optional: Delete all rows in the table 
    conn.execute(table.delete())

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)

In [20]:
# Call the function to insert the data for each table
# world_dev is the class
populate_table(engine, world_dev.__table__, worldDevcsv)

[{'id': 0, 'IsoCode': 'AFG', 'CountryName': 'Afghanistan', 'Region': 'South Asia', 'IncomeGroup': 'Low income', 'GiniYear': 0.0, 'GiniCoefficient': 0.0, 'HomicideYear': 2012.0, 'HomicidePer100k': 6.6, 'HDI': 0.48, 'GDP_Mean': 5.61, 'LifeExpectancy': 63.3, 'services2015': 55.65, 'industry2015': 22.95, 'agriculture2015': 21.4, 'GDP_PPP_Year': 2016.0, 'GDP_PPP': 1944.12, 'Unemployment2015': 8.6, 'Unemployment2016': 8.6, 'Unemployment2017': 8.5}]

In [21]:
# check to see if data was added to table
engine.execute("SELECT * FROM world_dev LIMIT 1").fetchall()

[(0, 'AFG', 'Afghanistan', 'South Asia', 'Low income', 0.0, 0.0, 2012.0, 6.6, 0.48, 5.61, 63.3, 55.65, 22.95, 21.4, 2016.0, 1944.12, 8.6, 8.6, 8.5)]

### End Database Engineering Section
<br>
<hr>

### Reflect Table Section
<hr>

In [22]:
# Use SQLAlchemy automap_base() to refelct tables into classes and save a reference to those classes
Base = automap_base()

In [23]:
# use the base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [24]:
# print all of the classes mapped to the Base
Base.classes.keys()

['world_dev']

In [25]:
# assign worldDev class to variables
WorldDev = Base.classes.world_dev

In [26]:
# create a session
session = Session(engine)

In [27]:
# Display the row's columns and data in dict format
results = session.query(WorldDev.CountryName, WorldDev.GiniCoefficient).all()

In [28]:
# Prints Country Name and GiniCoefficient
results

[('Afghanistan', 0.0),
 ('Albania', 29.0),
 ('Algeria', 27.6),
 ('Angola', 42.7),
 ('Antarctica', None),
 ('Argentina', 42.7),
 ('Armenia', 32.4),
 ('Australia', 34.7),
 ('Austria', 30.5),
 ('Azerbaijan', 31.8),
 ('Bahamas', 0.0),
 ('Bangladesh', 32.1),
 ('Belarus', 26.7),
 ('Belgium', 28.1),
 ('Belize', 0.0),
 ('Benin', 47.8),
 ('Bermuda', 0.0),
 ('Bhutan', 38.8),
 ('Bolivia', 45.8),
 ('Bosnia and Herzegovina', 33.8),
 ('Botswana', 60.5),
 ('Brazil', 51.3),
 ('Brunei Darussalam', 0.0),
 ('Bulgaria', 37.4),
 ('Burkina Faso', 35.3),
 ('Burundi', 39.2),
 ('Cambodia', 0.0),
 ('Cameroon', 46.5),
 ('Canada', 34.0),
 ('Central African Republic', 56.2),
 ('Chad', 43.3),
 ('Chile', 47.7),
 ('China', 42.2),
 ('Colombia', 51.1),
 ('Congo�(Brazzaville)', 48.9),
 ('Congo, (Kinshasa)', 42.1),
 ('Costa Rica', 48.2),
 ("C�te d'Ivoire", 41.7),
 ('Croatia', 32.2),
 ('Cuba', 0.0),
 ('Cyprus', 35.6),
 ('Czech Republic', 25.9),
 ('Denmark', 28.5),
 ('Djibouti', 44.1),
 ('Dominican Republic', 44.9),
 ('Ecuador', 46.5),
 ('Egypt', 31.8),
 ('El Salvador', 40.8),
 ('Equatorial Guinea', 0.0),
 ('Eritrea', 0.0),
 ('Estonia', 34.6),
 ('Ethiopia', 33.2),
 ('Falkland Islands (Malvinas)', None),
 ('Fiji', 36.4),
 ('Finland', 26.8),
 ('France', 32.3),
 ('French Guiana', None),
 ('French Southern Territories', None),
 ('Gabon', 0.0),
 ('Gambia', 0.0),
 ('Georgia', 38.5),
 ('Germany', 31.4),
 ('Ghana', 42.2),
 ('Greece', 35.8),
 ('Greenland', 0.0),
 ('Guatemala', 48.7),
 ('Guinea', 33.7),
 ('Guinea-Bissau', 50.7),
 ('Guyana', 0.0),
 ('Haiti', 40.9),
 ('Honduras', 50.1),
 ('Hungary', 30.9),
 ('Iceland', 25.6),
 ('India', 35.2),
 ('Indonesia', 39.5),
 ('Iran, Islamic Republic of', 38.8),
 ('Iraq', 29.5),
 ('Ireland', 31.9),
 ('Israel', 41.4),
 ('Italy', 34.7),
 ('Jamaica', 0.0),
 ('Japan', 32.1),
 ('Jordan', 33.7),
 ('Kazakhstan', 26.5),
 ('Kenya', 0.0),
 ('Korea�(North)', 0.0),
 ('Korea�(South)', 31.6),
 ('Kuwait', 0.0),
 ('Kyrgyzstan', 29.0),
 ('Lao PDR', 36.4),
 ('Latvia', 35.1),
 ('Lebanon', 31.8),
 ('Lesotho', 54.2),
 ('Liberia', 33.2),
 ('Libya', 0.0),
 ('Lithuania', 37.7),
 ('Luxembourg', 31.2),
 ('Macedonia, Republic of', 35.6),
 ('Madagascar', 42.7),
 ('Malawi', 46.1),
 ('Malaysia', 46.3),
 ('Mali', 33.0),
 ('Malta', 0.0),
 ('Mauritania', 32.4),
 ('Mexico', 48.2),
 ('Moldova', 27.0),
 ('Mongolia', 32.0),
 ('Montenegro', 31.9),
 ('Morocco', 0.0),
 ('Mozambique', 45.6),
 ('Myanmar', 38.1),
 ('Namibia', 61.0),
 ('Nepal', 32.8),
 ('Netherlands', 28.6),
 ('New Caledonia', 0.0),
 ('New Zealand', 0.0),
 ('Nicaragua', 46.6),
 ('Niger', 34.0),
 ('Nigeria', 43.0),
 ('Norway', 26.8),
 ('Oman', 0.0),
 ('Pakistan', 30.7),
 ('Palestinian Territory', 34.4),
 ('Panama', 51.0),
 ('Papua New Guinea', 41.8),
 ('Paraguay', 48.0),
 ('Peru', 44.3),
 ('Philippines', 40.1),
 ('Poland', 32.1),
 ('Portugal', 35.6),
 ('Puerto Rico', 0.0),
 ('Qatar', 0.0),
 ('Romania', 27.5),
 ('Russian Federation', 37.7),
 ('Rwanda', 50.4),
 ('Saudi Arabia', 0.0),
 ('Senegal', 40.3),
 ('Serbia', 29.1),
 ('Sierra Leone', 34.0),
 ('Slovakia', 26.1),
 ('Slovenia', 25.7),
 ('Solomon Islands', 37.0),
 ('Somalia', 0.0),
 ('South Africa', 63.4),
 ('South Sudan', 46.3),
 ('Spain', 36.0),
 ('Sri Lanka', 39.2),
 ('Sudan', 35.4),
 ('Suriname', 0.0),
 ('Swaziland', 51.5),
 ('Sweden', 27.2),
 ('Switzerland', 32.5),
 ('Syrian Arab Republic�(Syria)', 0.0),
 ('Taiwan, Republic of China', 33.6),
 ('Tajikistan', 34.0),
 ('Tanzania, United Republic of', 37.8),
 ('Thailand', 37.8),
 ('Timor-Leste', 0.0),
 ('Togo', 43.0),
 ('Trinidad and Tobago', 0.0),
 ('Tunisia', 35.8),
 ('Turkey', 41.2),
 ('Turkmenistan', 0.0),
 ('Uganda', 41.0),
 ('Ukraine', 25.5),
 ('United Arab Emirates', 0.0),
 ('United Kingdom', 34.1),
 ('United States of America', 41.0),
 ('Uruguay', 41.7),
 ('Uzbekistan', 0.0),
 ('Vanuatu', 37.3),
 ('Venezuela�(Bolivarian Republic)', 0.0),
 ('Viet Nam', 34.8),
 ('Western Sahara', None),
 ('Yemen', 36.7),
 ('Zambia', 57.1),
 ('Zimbabwe', 43.2)]