In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df = pd.read_csv('bordersGini_convert.csv')
df.head()
df.info()

,id,CountryName,GiniCoefficient,GDP_PPP,LifeExpectancy,HomicidePer100k,geometry,coordinates
0,AFG,Afghanistan,0.0,1944.12,63.30,6.6,Polygon,"[[[61.210817,35.650072],[62.230651,35.270664],..."
1,ALB,Albania,29.0,11540.03,78.20,2.3,Polygon,"[[[20.590247,41.855404],[20.463175,41.515089],..."
2,DZA,Algeria,27.6,15013.30,75.86,1.4,Polygon,"[[[11.999506,23.471668],[8.572893,21.565661],[..."
3,AGO,Angola,42.7,6454.14,61.19,9.6,MultiPolygon,"[[[[16.326528,-5.87747],[16.57318,-6.622645],[..."
4,ATA,Antarctica,0.0,0.00,0.00,0.0,MultiPolygon,"[[[[-59.572095,-80.040179],[-59.865849,-80.549..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 8 columns):
id                 177 non-null object
CountryName        177 non-null object
GiniCoefficient    177 non-null float64
GDP_PPP            177 non-null float64
LifeExpectancy     177 non-null float64
HomicidePer100k    177 non-null float64
geometry           177 non-null object
coordinates        177 non-null object
dtypes: float64(4), object(4)
memory usage: 11.1+ KB

In [3]:
# filter coordinates column
df2 = df['coordinates'].apply(pd.to_numeric, errors='ignore')

In [4]:
# take the first row
df2[0]
empty = []
empty.append(df2[0])

'[[[61.210817,35.650072],[62.230651,35.270664],[62.984662,35.404041],[63.193538,35.857166],[63.982896,36.007957],[64.546479,36.312073],[64.746105,37.111818],[65.588948,37.305217],[65.745631,37.661164],[66.217385,37.39379],[66.518607,37.362784],[67.075782,37.356144],[67.83,37.144994],[68.135562,37.023115],[68.859446,37.344336],[69.196273,37.151144],[69.518785,37.608997],[70.116578,37.588223],[70.270574,37.735165],[70.376304,38.138396],[70.806821,38.486282],[71.348131,38.258905],[71.239404,37.953265],[71.541918,37.905774],[71.448693,37.065645],[71.844638,36.738171],[72.193041,36.948288],[72.63689,37.047558],[73.260056,37.495257],[73.948696,37.421566],[74.980002,37.41999],[75.158028,37.133031],[74.575893,37.020841],[74.067552,36.836176],[72.920025,36.720007],[71.846292,36.509942],[71.262348,36.074388],[71.498768,35.650563],[71.613076,35.153203],[71.115019,34.733126],[71.156773,34.348911],[70.881803,33.988856],[69.930543,34.02012],[70.323594,33.358533],[69.687147,33.105499],[69.262522,32.501944],[69.317764,31.901412],[68.926677,31.620189],[68.556932,31.71331],[67.792689,31.58293],[67.683394,31.303154],[66.938891,31.304911],[66.381458,30.738899],[66.346473,29.887943],[65.046862,29.472181],[64.350419,29.560031],[64.148002,29.340819],[63.550261,29.468331],[62.549857,29.318572],[60.874248,29.829239],[61.781222,30.73585],[61.699314,31.379506],[60.941945,31.548075],[60.863655,32.18292],[60.536078,32.981269],[60.9637,33.528832],[60.52843,33.676446],[60.803193,34.404102],[61.210817,35.650072]]]}},'

In [5]:
import numpy as np

In [6]:
# list of first row
# need to figure out how to make an array 
empty

['[[[61.210817,35.650072],[62.230651,35.270664],[62.984662,35.404041],[63.193538,35.857166],[63.982896,36.007957],[64.546479,36.312073],[64.746105,37.111818],[65.588948,37.305217],[65.745631,37.661164],[66.217385,37.39379],[66.518607,37.362784],[67.075782,37.356144],[67.83,37.144994],[68.135562,37.023115],[68.859446,37.344336],[69.196273,37.151144],[69.518785,37.608997],[70.116578,37.588223],[70.270574,37.735165],[70.376304,38.138396],[70.806821,38.486282],[71.348131,38.258905],[71.239404,37.953265],[71.541918,37.905774],[71.448693,37.065645],[71.844638,36.738171],[72.193041,36.948288],[72.63689,37.047558],[73.260056,37.495257],[73.948696,37.421566],[74.980002,37.41999],[75.158028,37.133031],[74.575893,37.020841],[74.067552,36.836176],[72.920025,36.720007],[71.846292,36.509942],[71.262348,36.074388],[71.498768,35.650563],[71.613076,35.153203],[71.115019,34.733126],[71.156773,34.348911],[70.881803,33.988856],[69.930543,34.02012],[70.323594,33.358533],[69.687147,33.105499],[69.262522,32.501944],[69.317764,31.901412],[68.926677,31.620189],[68.556932,31.71331],[67.792689,31.58293],[67.683394,31.303154],[66.938891,31.304911],[66.381458,30.738899],[66.346473,29.887943],[65.046862,29.472181],[64.350419,29.560031],[64.148002,29.340819],[63.550261,29.468331],[62.549857,29.318572],[60.874248,29.829239],[61.781222,30.73585],[61.699314,31.379506],[60.941945,31.548075],[60.863655,32.18292],[60.536078,32.981269],[60.9637,33.528832],[60.52843,33.676446],[60.803193,34.404102],[61.210817,35.650072]]]}},']

In [7]:
import csv

In [8]:
rawData = csv.reader(open('bordersGini_convert.csv', 'rt'), 
                     dialect = 'excel')

In [9]:
# the template. where data from the csv will be formatted to geojson
template = \
    ''' \
    { "type" : "Feature",
        "id" : "%s" ,
        "properties" : {
                "CountryName" : "%s",
                "GiniCoefficient" : %s,
                "GDP_PPP" : %s,
                "LifeExpectancy" : %s,
                "HomicidePer100k" : %s    
                },
        "geometry" : {
            "type" : "%s",
        
            "coordinates" : [%s]}
        },
    '''

In [10]:
# the head of the geojson file
output = \
    ''' \
{ "type" : "FeatureCollection",
    "features" : [
    '''

In [11]:
# loop through the csv by row skipping the first
iter = 0
for row in rawData:
    # iter += 1
    # if iter >= 2:
    id = row[0]
    CountryName = row[1]
    GiniCoefficient = row[2]
    GDP_PPP = row[3]
    LifeExpectancy = row[4]
    HomicidePer100k = row[5]
    geometry = row[6]
    coordinates = row[7]
    
    # output += template % (row[0], row[2], row[1], row[3], row[4])
    output += template % (id, CountryName, GiniCoefficient, GDP_PPP, LifeExpectancy, HomicidePer100k, 
                          geometry, coordinates)

# the tail of the geojson file
output += \
    ''' \
    ]
}
    '''

### code below saves the geojson file

In [12]:
# opens an geoJSON file to write the output to
outFileHandle = open("border.geojson", "w")
outFileHandle.write(output)
outFileHandle.close()

310243