In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [45]:
df = pd.read_csv('bordersGini_convert.csv')
df.head()
df.info()

,id,CountryName,GiniCoefficient,geometry,coordinates
0,AFG,Afghanistan,0.0,Polygon,"61.210817,35.650072,62.230651,35.270664,62.984..."
1,ALB,Albania,29.0,Polygon,"20.590247,41.855404,20.463175,41.515089,20.605..."
2,DZA,Algeria,27.6,Polygon,"11.999506,23.471668,8.572893,21.565661,5.67756..."
3,AGO,Angola,42.7,MultiPolygon,"16.326528,-5.87747,16.57318,-6.622645,16.86019..."
4,ATA,Antarctica,0.0,MultiPolygon,"-59.572095,-80.040179,-59.865849,-80.549657,-6..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 5 columns):
id                 177 non-null object
CountryName        177 non-null object
GiniCoefficient    177 non-null float64
geometry           177 non-null object
coordinates        177 non-null object
dtypes: float64(1), object(4)
memory usage: 7.0+ KB

In [67]:
# filter coordinates column
df2 = df['coordinates'].apply(pd.to_numeric, errors='ignore')

0      61.210817,35.650072,62.230651,35.270664,62.984...
1      20.590247,41.855404,20.463175,41.515089,20.605...
2      11.999506,23.471668,8.572893,21.565661,5.67756...
3      16.326528,-5.87747,16.57318,-6.622645,16.86019...
4      -59.572095,-80.040179,-59.865849,-80.549657,-6...
5      -65.5,-55.2,-66.45,-55.25,-66.95992,-54.89681,...
6      43.582746,41.092143,44.97248,41.248129,45.1794...
7      145.397978,-40.792549,146.364121,-41.137695,14...
8      16.979667,48.123497,16.903754,47.714866,16.340...
9      45.001987,39.740004,45.298145,39.471751,45.739...
10     -77.53466,23.75975,-77.78,23.71,-78.03405,24.2...
11     92.672721,22.041239,92.652257,21.324048,92.303...
12     23.484128,53.912498,24.450684,53.905702,25.536...
13     3.314971,51.345781,4.047071,51.267259,4.973991...
14     -89.14308,17.808319,-89.150909,17.955468,-89.0...
15     2.691702,6.258817,1.865241,6.142158,1.618951,6...
16     -64.7799734332998,32.3072000581802,-64.7873319...
17     91.696657,27.771742,92.103712,27.452614,92.033...
18     -62.846468,-22.034985,-63.986838,-21.993644,-6...
19     19.005486,44.860234,19.36803,44.863,19.11761,4...
20     25.649163,-18.536026,25.850391,-18.714413,26.1...
21     -57.625133,-30.216295,-56.2909,-28.852761,-55....
22     114.204017,4.525874,114.599961,4.900011,115.45...
23     22.65715,44.234923,22.944832,43.823785,23.3323...
24     -2.827496,9.642461,-3.511899,9.900326,-3.98044...
25     29.339998,-4.499983,29.276384,-3.293907,29.024...
26     103.49728,10.632555,103.09069,11.153661,102.58...
27     13.075822,2.267097,12.951334,2.321616,12.35938...
28     -63.6645,46.55001,-62.9393,46.41587,-62.01208,...
29     15.27946,7.421925,16.106232,7.497088,16.290562...
                             ...
147    33.963393,9.464285,33.824963,9.484061,33.84213...
148    -57.147436,5.97315,-55.949318,5.772878,-55.841...
149    32.071665,-26.73382,31.86806,-27.177927,31.282...
150    22.183173,65.723741,21.213517,65.026005,21.369...
151    9.594226,47.525058,9.632932,47.347601,9.47997,...
152    38.792341,33.378686,36.834062,32.312938,35.719...
153    121.777818,24.394274,121.175632,22.790857,120....
154    71.014198,40.244366,70.648019,39.935754,69.559...
155    33.903711,-0.95,34.07262,-1.05982,37.69869,-3....
156    102.584932,12.186595,101.687158,12.64574,100.8...
157    124.968682,-8.89279,125.086246,-8.656887,125.9...
158    1.865241,6.142158,1.060122,5.928837,0.836931,6...
159    -61.68,10.76,-61.105,10.89,-60.895,10.855,-60....
160    9.48214,30.307556,9.055603,32.102692,8.439103,...
161    36.913127,41.335358,38.347665,40.948586,39.512...
162    61.210817,35.650072,61.123071,36.491597,60.377...
163    31.86617,-1.02736,30.76986,-1.01455,30.419105,...
164    31.785998,52.101678,32.159412,52.061267,32.412...
165    51.579519,24.245497,51.757441,24.294073,51.794...
166    -5.661949,54.554603,-6.197885,53.867565,-6.953...
167    -155.54211,19.08348,-155.68817,18.91619,-155.9...
168    -57.625133,-30.216295,-56.976026,-30.109686,-5...
169    66.518607,37.362784,66.54615,37.974685,65.2159...
170    167.844877,-16.466333,167.515181,-16.59785,167...
171    -71.331584,11.776284,-71.360006,11.539994,-71....
172    108.05018,21.55238,106.715068,20.696851,105.88...
173    -8.794884,27.120696,-8.817828,27.656426,-8.665...
174    53.108573,16.651051,52.385206,16.382411,52.191...
175    32.759375,-9.230599,33.231388,-9.676722,33.485...
176    31.191409,-22.25151,30.659865,-22.151567,30.32...
Name: coordinates, Length: 177, dtype: object

In [58]:
# take the first row
df2[0]
empty = []
empty.append(df2[0])

'61.210817,35.650072,62.230651,35.270664,62.984662,35.404041,63.193538,35.857166,63.982896,36.007957,64.546479,36.312073,64.746105,37.111818,65.588948,37.305217,65.745631,37.661164,66.217385,37.39379,66.518607,37.362784,67.075782,37.356144,67.83,37.144994,68.135562,37.023115,68.859446,37.344336,69.196273,37.151144,69.518785,37.608997,70.116578,37.588223,70.270574,37.735165,70.376304,38.138396,70.806821,38.486282,71.348131,38.258905,71.239404,37.953265,71.541918,37.905774,71.448693,37.065645,71.844638,36.738171,72.193041,36.948288,72.63689,37.047558,73.260056,37.495257,73.948696,37.421566,74.980002,37.41999,75.158028,37.133031,74.575893,37.020841,74.067552,36.836176,72.920025,36.720007,71.846292,36.509942,71.262348,36.074388,71.498768,35.650563,71.613076,35.153203,71.115019,34.733126,71.156773,34.348911,70.881803,33.988856,69.930543,34.02012,70.323594,33.358533,69.687147,33.105499,69.262522,32.501944,69.317764,31.901412,68.926677,31.620189,68.556932,31.71331,67.792689,31.58293,67.683394,31.303154,66.938891,31.304911,66.381458,30.738899,66.346473,29.887943,65.046862,29.472181,64.350419,29.560031,64.148002,29.340819,63.550261,29.468331,62.549857,29.318572,60.874248,29.829239,61.781222,30.73585,61.699314,31.379506,60.941945,31.548075,60.863655,32.18292,60.536078,32.981269,60.9637,33.528832,60.52843,33.676446,60.803193,34.404102,61.210817,35.650072'

In [70]:
import numpy as np

In [42]:
# list of first row
# need to figure out how to make an array 
empty

['61.210817,35.650072,62.230651,35.270664,62.984662,35.404041,63.193538,35.857166,63.982896,36.007957,64.546479,36.312073,64.746105,37.111818,65.588948,37.305217,65.745631,37.661164,66.217385,37.39379,66.518607,37.362784,67.075782,37.356144,67.83,37.144994,68.135562,37.023115,68.859446,37.344336,69.196273,37.151144,69.518785,37.608997,70.116578,37.588223,70.270574,37.735165,70.376304,38.138396,70.806821,38.486282,71.348131,38.258905,71.239404,37.953265,71.541918,37.905774,71.448693,37.065645,71.844638,36.738171,72.193041,36.948288,72.63689,37.047558,73.260056,37.495257,73.948696,37.421566,74.980002,37.41999,75.158028,37.133031,74.575893,37.020841,74.067552,36.836176,72.920025,36.720007,71.846292,36.509942,71.262348,36.074388,71.498768,35.650563,71.613076,35.153203,71.115019,34.733126,71.156773,34.348911,70.881803,33.988856,69.930543,34.02012,70.323594,33.358533,69.687147,33.105499,69.262522,32.501944,69.317764,31.901412,68.926677,31.620189,68.556932,31.71331,67.792689,31.58293,67.683394,31.303154,66.938891,31.304911,66.381458,30.738899,66.346473,29.887943,65.046862,29.472181,64.350419,29.560031,64.148002,29.340819,63.550261,29.468331,62.549857,29.318572,60.874248,29.829239,61.781222,30.73585,61.699314,31.379506,60.941945,31.548075,60.863655,32.18292,60.536078,32.981269,60.9637,33.528832,60.52843,33.676446,60.803193,34.404102,61.210817,35.650072']

In [4]:
import csv

In [5]:
rawData = csv.reader(open('bordersGini_convert.csv', 'rt'), 
                     dialect = 'excel')

In [6]:
# the template. where data from the csv will be formatted to geojson
template = \
    ''' \
    { "type" : "Feature",
        "id" : "%s" ,
        "properties" : {
                "CountryName" : "%s",
                "GiniCoefficient" : %s
                },
        "geometry" : {
            "type" : "%s",
        
            "coordinates" : [%s]}
        },
    '''

In [7]:
# the head of the geojson file
output = \
    ''' \
{ "type" : "FeatureCollection",
    "features" : [
    '''

In [8]:
# loop through the csv by row skipping the first
iter = 0
for row in rawData:
    # iter += 1
    # if iter >= 2:
    id = row[0]
    CountryName = row[1]
    GiniCoefficient = row[2]
    geometry = row[3]
    coordinates = row[4]
    
    # output += template % (row[0], row[2], row[1], row[3], row[4])
    output += template % (id, CountryName, GiniCoefficient, geometry, coordinates)
    
# the tail of the geojson file
output += \
    ''' \
    ]
}
    '''

In [9]:
# opens an geoJSON file to write the output to
outFileHandle = open("borderGini.geojson", "w")
outFileHandle.write(output)
outFileHandle.close()

189605